<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <title>Panel</title>
</head>
<body>
     <div class="row justify-content-between">
     <br><br><br><br>
     <center>
          <div class="col-lg-2">
               <a href="/svk@123/queries"><button class="btn btn-success">Queries</button></a>
          </div>
          <div class="col-lg-2">
               <a href="/svk@83270/projects"><button class="btn btn-success">Projects</button></a>
          </div>
          <div class="col-lg-2"> 
               <a href="/svk@83270/participants"><button class="btn btn-success">Participants</button></a>
          </div>
          <div class="col-lg-2">
               <a href="/svk@83270/search"><button class="btn btn-success">Search</button></a>
          </div>
          <div class="col-lg-2">
               <a href="/svk@83270/cts"><button class="btn btn-success">IPs</button></a>
          </div>
     </center>
     </div>
</body>
</html>