<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Diversion - Guidelines</title>
     <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
     <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
     <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
     <link rel="icon" href="assets/img/favicon_black.ico" type="image/x-icon" />
     <style>
          .privacy li{
               margin-top:0.7em;
          }
     </style>
</head>
<body>
     <div class="container" style="font-family: 'fisa', 'monospace'; font-size: larger;">
	<div class="col-xs-12">
		<h1>Guidelines</h1>
		<br>
          <h3>For Projects :</h3>
          <ul type="disc" class="privacy">
		<li><p>&nbsp;We are accepting projects in all domains (category will be made based on available projects) </p></li>
          <li><p>&nbsp;Contributors must ensure that the tags like deep learning, react, flutter, MERN, CDMS, VLSI,etc.are in accordance with the domain of the projects otherwise the projects might not be selected. </p></li>
          <li><p>&nbsp;Participants may not necessarily be enrolled at a university or be a part of any organization.</p></li>
          <li><p>&nbsp;We are not providing systems for execution.</p></li>
          <li><p>&nbsp;Contributors must make sure that they have proper :</p></li>
          <b>
          <p>&emsp;&emsp;1. README</p>
          <p>&emsp;&emsp;2. Code of Conduct</p>
          <p>&emsp;&emsp;3. Contribution Guidelines</p>
          <p>&emsp;&emsp;4. Licensing</p>
          </b>
          </ul>
        <br>
        <h3>Issues:</h3>
        <p>&nbsp;-->Initially some issues will be provided to the participants for convenience</p>
        <p>&nbsp;-->Participants have the liberty to create issues themselves, as and when needed.</p>
        <p>&nbsp;-->We are not providing systems for execution.</p>

        <h3>Contributions:</h3>
        <br>
        <h5>•   Project lead will have a specific set of guidelines for contributing catering specifics of the projects. All participants are requested to adhere to them strictly.</h5>
        <h5>•	General:</h5><br>
	   <ul type="disc" class="privacy">
                    <li>General commit.</li>
                    <li>Contributors have to make sure commits are concise and brief.</li>
                    <li>Commits should cater to a single issue.</li>
                    <li>One Commit == One issue/New feature Added</li>
                    <li>In case of any conflicts, Project Lead themselves hold all rights to settle the matter.</li>
                    <li>Plagiarism will not be tolerated at all and will lead to disqualification. We have special awards for people excelling in this department ;-)</li>
                </ul>
	</div>
</div>
</body>
</html>