<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guidelines</title>

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
      rel="stylesheet"
    />
    <link rel="icon" href="assets/img/favicon_black.ico" type="image/x-icon" />
    <!-- Vendor CSS Files    -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet" />
    <style>
      .privacy li {
        margin-top: 0.7em;
      }
    </style>
  </head>
  <body>
    <div class="preloader">
      <div class="box">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <script>
      function preloader() {
        window.addEventListener('load', () => {
          document.querySelector('.preloader').classList.add('fade-out');
          setTimeout(() => {
            document.querySelector('.preloader').style.display = 'none';
          }, 600);
        });
      }
      preloader();
    </script>
    <header
      id="header"
      class="fixed-top d-flex align-items-center"
      style="margin-bottom: 100px"
    >
      <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
          <h1 class="text-light">
            <a href="/">
              <img
                src="/assets/img/TheD.png"
                alt="Diversion"
                id="logo-img" /><span></span
            ></a>
          </h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <!-- <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About Us</a></li> -->
            <!-- <li><a class="nav-link scrollto" href="#services">Tracks</a></li>
            <li>
              <a class="nav-link scrollto" href="#portfolio">Projects</a>
            </li> -->

            <!-- <li><a class="nav-link scrollto" href="#team">Team</a></li>
            <li class="dropdown">
              <a href="#"
                ><span>Drop Down</span> <i class="bi bi-chevron-down"></i
              ></a>
              <ul>
                <li><a href="#">Drop Down 1</a></li>
                <li class="dropdown">
                  <a href="#"
                    ><span>Deep Drop Down</span>
                    <i class="bi bi-chevron-right"></i
                  ></a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Drop Down 2</a></li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
              </ul>
            </li>
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->

            <li>
              <a class="getstarted scrollto" href="/">Go back</a>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <div
      class="container"
      style="font-family: 'fisa', 'monospace'; font-size: larger"
    >
      <div class="col-xs-12" style="margin-top: 100px">
        <h1 style="font-size: 3rem">Guidelines</h1>
        <br />
        <h3><b>For Projects : </b></h3>
        <ul type="disc" class="privacy">
          <li>
            <p>
              &nbsp;We are accepting projects in all domains (category will be
              made based on available projects)
            </p>
          </li>
          <li>
            <p>
              &nbsp;Contributors must ensure that the tags like deep learning,
              react, flutter, MERN, CDMS, VLSI,etc.are in accordance with the
              domain of the projects otherwise the projects might not be
              selected.
            </p>
          </li>
          <li>
            <p>
              &nbsp;Participants may not necessarily be enrolled at a university
              or be a part of any organization.
            </p>
          </li>
          <li><p>&nbsp;We are not providing systems for execution.</p></li>
          <li>
            <p>&nbsp;Contributors must make sure that they have proper :</p>
          </li>
          <b>
            <p>&emsp;&emsp;1. README</p>
            <p>&emsp;&emsp;2. Code of Conduct</p>
            <p>&emsp;&emsp;3. Contribution Guidelines</p>
            <p>&emsp;&emsp;4. Licensing</p>
          </b>
        </ul>
        <br />
        <h3><b>Issues:</b></h3>
        <p>
          &nbsp;-->Initially some issues will be provided to the participants
          for convenience
        </p>
        <p>
          &nbsp;-->Participants have the liberty to create issues themselves, as
          and when needed.
        </p>
        <p>&nbsp;-->We are not providing systems for execution.</p>

        <h3><b>Contributions:</b></h3>
        <br />
        <h5>
          • Project lead will have a specific set of guidelines for contributing
          catering specifics of the projects. All participants are requested to
          adhere to them strictly.
        </h5>
        <h5>• General:</h5>
        <br />
        <ul type="disc" class="privacy">
          <li>General commit.</li>
          <li>Contributors have to make sure commits are concise and brief.</li>
          <li>Commits should cater to a single issue.</li>
          <li>One Commit == One issue/New feature Added</li>
          <li>
            In case of any conflicts, Project Lead themselves hold all rights to
            settle the matter.
          </li>
          <li>
            Plagiarism will not be tolerated at all and will lead to
            disqualification. We have special awards for people excelling in
            this department ;-)
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
