<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Diversion</title>
    <meta content="DIVERSION is an event organized by ACM-CSI IEM Student Chapter which encourages participants to contribute in open-source. By contributing to an open-source project, participants receive immediate feedback on their development and programming skills." name="description" />
    <meta content="Open-Source,Hackathon,Github,Open-Source event,projects,mentorship,guidance" name="keywords" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <link rel="icon" href="assets/img/favicon_black.ico" type="image/x-icon" />

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet" />
    <style>
      #logo-img {
        max-height: 100px;
      }
      #mbtn {
        margin-top: 1.2rem;
        padding: 10px 60px;
        opacity: 0.8;
      }
    </style>
  </head>

  <body>
    <div class="preloader">
      <div class="box">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <script>
      function preloader() {
        window.addEventListener('load', () => {
          document.querySelector('.preloader').classList.add('fade-out');
          setTimeout(() => {
            document.querySelector('.preloader').style.display = 'none';
          }, 600);
        });
      }
      preloader();
    </script>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
          <h1 class="text-light">
            <a href="/">
              <img
                src="/assets/img/TheD.png"
                alt="Diversion"
                id="logo-img"
              /><span></span></a
            >
          </h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar">
          <ul>
            <!-- <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
            <li><a class="nav-link scrollto" href="#about">About Us</a></li> -->
            <li><a class="nav-link scrollto" href="#tracks">Tracks</a></li>
            <li>
              <a class="nav-link scrollto" href="#portfolio">Projects</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="/leaderboard">LeaderBoard</a>
            </li>

            <!-- <li><a class="nav-link scrollto" href="#team">Team</a></li>
            <li class="dropdown">
              <a href="#"
                ><span>Drop Down</span> <i class="bi bi-chevron-down"></i
              ></a>
              <ul>
                <li><a href="#">Drop Down 1</a></li>
                <li class="dropdown">
                  <a href="#"
                    ><span>Deep Drop Down</span>
                    <i class="bi bi-chevron-right"></i
                  ></a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Drop Down 2</a></li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
              </ul>
            </li>
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->

            <li>
              <a class="getstarted scrollto" href="/register-page">Register</a>
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row gy-4">
          <div
            class="
              col-lg-6
              order-2 order-lg-1
              d-flex
              flex-column
              justify-content-center
            "
          >
            <h1>Diversion</h1>
            <h2>
            Contributions that lasts longer
            </h2>
            <div>
              <a href="/register-page" class="btn-get-started scrollto"
                >Register</a
              >
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img">
            <img
              src="assets/img/hero-img.png"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <section id="about" class="about">
        <div class="container">
          <div class="row justify-content-between">
            <div
              class="
                col-lg-5
                d-flex
                align-items-center
                justify-content-center
                about-img
              "
            >
              <img
                src="assets/img/about-img.png"
                class="img-fluid"
                alt=""
                data-aos="zoom-in"
              />
              <!---->
            </div>
            <div class="col-lg-6 pt-5 pt-lg-0">
              <h3 data-aos="fade-up">Diversion Major tracks</h3>
              <p data-aos="fade-up" data-aos-delay="100">
                In DIVERSION 2022, you can contribute to projects on Web
                development, App development, artificial intelligence- machine
                learning and IoT Hardware.
              </p>
              <div class="row">
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-receipt"></i>
                  <h4>Open source Projects</h4>
                  <p>
                    DIVERSION 2022 welcomes you to the world of open-sourcing
                    with engaging sessions and the opportunity to showcase your
                    projects. Contribute and collaborate on unique and
                    innovative projects.
                  </p>
                </div>
                <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-cube-alt"></i>
                  <h4>IoT/Robotics</h4>
                  <p>
                    DIVERSION 2022 also gives the opportunity to work on
                    hardware-related domains like IoT and robotics.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End About Section -->

      <!-- ======= tracks Section ======= -->
      <section id="tracks" class="tracks section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Tracks</h2>
            <p>Choose you track</p>
          </div>

          <div class="row">
            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bx-world"></i></div>
                <h4 class="title"><a href="">Web Dev</a></h4>
                <p class="description">
                  Web Development is the building and maintenance of websites;
                  it’s the work that happens behind the scenes to make a website
                  look great, work fast and perform well with a seamless user
                  experience.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bx-file"></i></div>
                <h4 class="title"><a href="">App Dev</a></h4>
                <p class="description">
                  App Development is the process of creating software
                  applications. It includes user interface design, programming,
                  testing and deployment of the application.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bx-tachometer"></i></div>
                <h4 class="title"><a href="">AI-ML</a></h4>
                <p class="description">
                  Artificial Intelligence and Machine Learning involves the
                  usage of complex algorithms that automatically learn and
                  refine the learning from a vast amount of data and data
                  patterns.
                </p>
              </div>
            </div>

            <div
              class="col-md-6 col-lg-3 d-flex align-items-stretch"
              data-aos="zoom-in"
              data-aos-delay="400"
            >
              <div class="icon-box">
                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                <h4 class="title"><a href="">IoT/Hardware</a></h4>
                <p class="description">
                  IoT Hardware includes a wide range of devices such as devices
                  for routing, bridges, sensors etc. It manages
                  key tasks and functions such as system activation, security,
                  communication, etc.
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End tracks Section -->
      <section id="Mentors" class="team">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2>Guest Speakers</h2>
            <p>Our Speakers !!!</p>
          </div>

          <div class="row">
            <div
              class="col-xl-3 col-lg-4 col-md-6"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="member">
                <img
                  src="assets/img/team/team-1.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4></h4>
                    <span></span>
                  </div>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-xl-3 col-lg-4 col-md-6"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="member">
                <img
                  src="assets/img/team/team-1.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4></h4>
                    <span></span>
                  </div>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-xl-3 col-lg-4 col-md-6"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="member">
                <img
                  src="assets/img/team/team-1.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4></h4>
                    <span></span>
                  </div>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-xl-3 col-lg-4 col-md-6"
              data-aos="zoom-in"
              data-aos-delay="400"
            >
              <div class="member">
                <img
                  src="assets/img/team/team-1.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4></h4>
                    <span></span>
                  </div>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Projects</h2>
            <p>Check out projects to contribute</p>
          </div>

          <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-12">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">AI-ML</li>
                <li data-filter=".filter-card">App-Dev</li>
                <li data-filter=".filter-web">Web-Dev</li>
                <li data-filter=".filter-card">IoT</li>
                <li data-filter=".filter-web">Misc</li>
              </ul>
            </div>
          </div>

          <div
            class="row portfolio-container"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-1.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="assets/img/portfolio/portfolio-1.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="App 1"
                    ><i class="bi bi-plus"></i
                  ></a>
                  <a href="#" title="More Details"
                    ><i class="bi bi-link"></i
                  ></a>
                </div>
                <div class="portfolio-info">
                  <h4>Coming soon</h4>
                  <p></p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-2.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="assets/img/portfolio/portfolio-2.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Web 3"
                    ><i class="bi bi-plus"></i
                  ></a>
                  <a href="#" title="More Details"
                    ><i class="bi bi-link"></i
                  ></a>
                </div>
                <div class="portfolio-info">
                  <h4>Coming soon</h4>
                  <p></p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-3.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="assets/img/portfolio/portfolio-3.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="App 2"
                    ><i class="bi bi-plus"></i
                  ></a>
                  <a href="#" title="More Details"
                    ><i class="bi bi-link"></i
                  ></a>
                </div>
                <div class="portfolio-info">
                  <h4>Coming soon</h4>
                  <p></p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-4.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="assets/img/portfolio/portfolio-4.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Card 2"
                    ><i class="bi bi-plus"></i
                  ></a>
                  <a href="#" title="More Details"
                    ><i class="bi bi-link"></i
                  ></a>
                </div>
                <div class="portfolio-info">
                  <h4>Coming soon</h4>
                  <p></p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-5.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="assets/img/portfolio/portfolio-5.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Web 2"
                    ><i class="bi bi-plus"></i
                  ></a>
                  <a href="#" title="More Details"
                    ><i class="bi bi-link"></i
                  ></a>
                </div>
                <div class="portfolio-info">
                  <h4>Coming soon</h4>
                  <p></p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-6.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="assets/img/portfolio/portfolio-6.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="App 3"
                    ><i class="bi bi-plus"></i
                  ></a>
                  <a href="#" title="More Details"
                    ><i class="bi bi-link"></i
                  ></a>
                </div>
                <div class="portfolio-info">
                  <h4>Coming soon</h4>
                  <p></p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-7.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="assets/img/portfolio/portfolio-7.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Card 1"
                    ><i class="bi bi-plus"></i
                  ></a>
                  <a href="#" title="More Details"
                    ><i class="bi bi-link"></i
                  ></a>
                </div>
                <div class="portfolio-info">
                  <h4>Coming soon</h4>
                  <p></p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-8.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="assets/img/portfolio/portfolio-8.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Card 3"
                    ><i class="bi bi-plus"></i
                  ></a>
                  <a href="#" title="More Details"
                    ><i class="bi bi-link"></i
                  ></a>
                </div>
                <div class="portfolio-info">
                  <h4>Coming soon</h4>
                  <p></p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
              <div class="portfolio-wrap">
                <img
                  src="assets/img/portfolio/portfolio-9.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="portfolio-links">
                  <a
                    href="assets/img/portfolio/portfolio-9.jpg"
                    data-gallery="portfolioGallery"
                    class="portfolio-lightbox"
                    title="Web 3"
                    ><i class="bi bi-plus"></i
                  ></a>
                  <a href="#" title="More Details"
                    ><i class="bi bi-link"></i
                  ></a>
                </div>
                <div class="portfolio-info">
                  <h4>Coming soon</h4>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Portfolio Section -->

      <!-- ======= F.A.Q Section ======= -->
      <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>F.A.Q</h2>
            <p>Frequently Asked Questions</p>
          </div>

          <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">
            <li>
              <div
                data-bs-toggle="collapse"
                class="collapsed question"
                href="#faq1"
              >
                What is DIVERSION?
                <i class="bi bi-chevron-down icon-show"></i
                ><i class="bi bi-chevron-up icon-close"></i>
              </div>
              <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                <p>
                  DIVERSION is an event organized by ACM-CSI IEM Student Chapter which encourages participants to contribute in open-source. By contributing to an open-source project, participants receive immediate feedback on their development and programming skills.
                </p>
              </div>
            </li>

            <li>
              <div
                data-bs-toggle="collapse"
                href="#faq2"
                class="collapsed question"
              >
                How does DIVERSION benefit students? <i class="bi bi-chevron-down icon-show"></i
                ><i class="bi bi-chevron-up icon-close"></i>
              </div>
              <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                <p>
                  If you are young, early in their career, or a newbie in programming, Open Source is the best way to get started. By contributing to an open-source project, participants receive immediate feedback on their development and programming skills. 
                  <br>
                  DIVERSION is the best platform for you to kickstart open-sourcing through sessions and working on projects with an additional benefit of swags.

                </p>
              </div>
            </li>

            <li>
              <div
                data-bs-toggle="collapse"
                href="#faq3"
                class="collapsed question"
              >
                What are the perks of DIVERSION 2022? <i class="bi bi-chevron-down icon-show"></i
                ><i class="bi bi-chevron-up icon-close"></i>
              </div>
              <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                <p>
                  DIVERSION 2022 will have engaging speakers/workshops throughout the event to keep participants motivated about their applications as well as provide mentors to help with technical debugging. 
<br>


People can contribute to open-source projects in fields like AI and ML, app development, web development, cyber security, etc. We also have projects based on hardware-related domains like IoT and robotics. If your idea is unique, we would help you get a free patent. 
<br>
You can compete with your own project idea and we would be more than happy to help you achieve that. The only thing that must be in your idea is that it should be scalable so that more participants can work on it. The perks will include swags.

                </p>
              </div>
            </li>

            <li>
              <div
                data-bs-toggle="collapse"
                href="#faq4"
                class="collapsed question"
              >
                Why should you Apply?
                <i class="bi bi-chevron-down icon-show"></i
                ><i class="bi bi-chevron-up icon-close"></i>
              </div>
              <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                <p>
                   With mentors, participants and speakers from all over the globe, Diversion truly provides you an international platform to exhibit your passion towards Open-Source. Boasting of a plethora of projects from several domains to contribute to, Diversion also allows you to introduce your own scalable and unique projects. Apart from exciting swag kits and handsome cash prizes for the best contributors and most unique projects, it offers you a wonderful chance to expand your network along with several fellow open-source enthusiasts from the community.
                </p>
              </div>
            </li>

            <li>
              <div
                data-bs-toggle="collapse"
                href="#faq5"
                class="collapsed question"
              >
                What are the eligibility criteria of DIVERSION 2022? <i class="bi bi-chevron-down icon-show"></i
                ><i class="bi bi-chevron-up icon-close"></i>
              </div>
              <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                <p>
                  There are no eligibility criteria. Whether you’re a student or an experienced professional, anyone is welcome to participate in this program, i.e., it’s open for everyone across the globe.
                </p>
              </div>
            </li>

            <li>
              <div
                data-bs-toggle="collapse"
                href="#faq6"
                class="collapsed question"
              >
                When is the event happening and in which mode?
                <i class="bi bi-chevron-down icon-show"></i
                ><i class="bi bi-chevron-up icon-close"></i>
              </div>
              <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                <p>
                  The event is being conducted in online mode. Registrations are opening from 5th December, 2021.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <!-- End F.A.Q Section -->

      <!-- ======= Team Section ======= -->
      <section id="Mentors" class="team">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2></h2>
            <p>Judges</p>
          </div>

          <div class="row">
            <div
              class="col-xl-3 col-lg-4 col-md-6"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="member">
                <img
                  src="assets/img/team/team-1.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4></h4>
                    <span></span>
                  </div>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-xl-3 col-lg-4 col-md-6"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="member">
                <img
                  src="assets/img/team/team-1.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4></h4>
                    <span></span>
                  </div>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-xl-3 col-lg-4 col-md-6"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="member">
                <img
                  src="assets/img/team/team-1.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4></h4>
                    <span></span>
                  </div>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-xl-3 col-lg-4 col-md-6"
              data-aos="zoom-in"
              data-aos-delay="400"
            >
              <div class="member">
                <img
                  src="assets/img/team/team-1.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4></h4>
                    <span></span>
                  </div>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- End Team Section -->
      <section id="Mentors" class="team">
        <div class="container">
          <div class="section-title" data-aos="fade-up">
            <h2></h2>
            <p>Mentors</p>
          </div>

          <div class="row">
            <div
              class="col-xl-3 col-lg-4 col-md-6"
              data-aos="zoom-in"
              data-aos-delay="100"
            >
              <div class="member">
                <img
                  src="assets/img/team/team-1.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4></h4>
                    <span></span>
                  </div>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-xl-3 col-lg-4 col-md-6"
              data-aos="zoom-in"
              data-aos-delay="200"
            >
              <div class="member">
                <img
                  src="assets/img/team/team-1.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4></h4>
                    <span></span>
                  </div>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-xl-3 col-lg-4 col-md-6"
              data-aos="zoom-in"
              data-aos-delay="300"
            >
              <div class="member">
                <img
                  src="assets/img/team/team-1.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4></h4>
                    <span></span>
                  </div>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col-xl-3 col-lg-4 col-md-6"
              data-aos="zoom-in"
              data-aos-delay="400"
            >
              <div class="member">
                <img
                  src="assets/img/team/team-1.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="member-info">
                  <div class="member-info-content">
                    <h4></h4>
                    <span></span>
                  </div>
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div>
        <!-- <div><a href="/register-page" class="btn-get-started scrollto">Register</a></div> -->
        <center>
          <a href="/mentor_form"
            ><button
              type="button"
              id="mbtn"
              class="btn btn-warning mx-3 d-flex align-items-center"
              data-aos="fade-up"
              style="border-radius: 1.5rem;"
            >
              Register as a Mentor
            </button></a
          >
        </center>
      </div>
      <br />
      <!-- ======= Clients Section ======= -->
      <section id="clients" class="clients section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2></h2>
            <p>Our Collaborations</p>
          </div>

          <div
            class="clients-slider swiper"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="swiper-wrapper align-items-center">
              <div class="swiper-slide">
                <a
                  href="https://www.linkedin.com/company/girlscript-foundation/"
                  target="_blank"
                >
                  <img
                    src="assets/img/clients/client-1.png"
                    class="img-fluid"
                    alt=""
                  />
                </a>
              </div>
              <div class="swiper-slide">
                <a
                  href="https://www.linkedin.com/company/msackiit"
                  target="_blank"
                >
                  <img
                    src="assets/img/clients/client-2.png"
                    class="img-fluid"
                    alt=""
                  />
                </a>
              </div>
              <div class="swiper-slide">
                <a
                  href="https://www.linkedin.com/school/laxminarayan-institute-of-technology"
                  target="_blank"
                >
                  <img
                    src="assets/img/clients/client-3.png"
                    class="img-fluid"
                    alt=""
                  />
                </a>
              </div>
              <div class="swiper-slide">
                <img
                  src="assets/img/clients/client-4.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="assets/img/clients/client-5.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <!-- <div class="swiper-slide">
                <img
                  src="assets/img/clients/client-6.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="assets/img/clients/client-7.png"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="swiper-slide">
                <img
                  src="assets/img/clients/client-8.png"
                  class="img-fluid"
                  alt=""
                />
              </div> -->
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <!-- End Clients Section -->

      <br />

      <section id="tracks" class="tracks section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title" style="padding-bottom: 0px">
            <h2>Compete to Win !!!</h2>
            <p>Leaderboard</p>
          </div>

          <div
            align="center"
            style="font-size: 40px; font-family: fisa, monospace"
          >
            &nbsp;coming soon!
          </div>
          <!-- <div class="row">
     <div class="col-md-4">
<div class="card one">
  <div class="header">
    <i class="arrow fas fa-chevron-left"></i>
    <h3 class="title"><b>Projects</b></h3>
    <div></div>
  </div>
  <div class="sort">
    <div class="day">Today</div>
    <div class="day active">Week</div>
    <div class="day">Month</div>
  </div> -->
          <!-- <div class="profile">
    <div class="person second">
      <div class="num">2</div>
      <i class="fas fa-caret-up"></i>
      <img src="https://image.flaticon.com/icons/png/512/949/949666.png" alt="" class="photo">
      <p class="link">@dorisklien</p>
      <p class="points">8023</p>
    </div>
    <div class="person first">
      <div class="num">1</div>
      <i class="fas fa-crown"></i>
      <img src="https://image.flaticon.com/icons/png/512/4086/4086600.png" alt="" class="photo main">
      <p class="link">@sher234</p>
      <p class="points">8122</p>
    </div>
    <div class="person third">
      <div class="num">3</div>
      <i class="fas fa-caret-up"></i>
      <img src="https://image.flaticon.com/icons/png/512/4333/4333609.png" alt="" class="photo">
      <p class="link">@lord_0980</p>
      <p class="points">7884</p>
    </div>
  </div>
  <div class="rest">
    <div class="others flex">
      <div class="rank">
        <i class="fas fa-caret-up"></i>
        <p class="num">4</p>
      </div>
      <div class="info flex">
        <img src="https://image.flaticon.com/icons/png/512/2922/2922510.png" alt="" class="p_img">
        <p class="link">@adam56</p>
        <p class="points">7861</p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="col-md-4">
<div class="card one">
  <div class="header">
    <i class="arrow fas fa-chevron-left"></i>
    <h3 class="title">Contributors</h3>
    <div></div>
  </div>
  <div class="sort">
    <div class="day">Today</div>
    <div class="day active">Week</div>
    <div class="day">Month</div>
  </div> -->
          <!-- <div class="profile">
    <div class="person second">
      <div class="num">2</div>
      <i class="fas fa-caret-up"></i>
      <img src="https://image.flaticon.com/icons/png/512/949/949666.png" alt="" class="photo">
      <p class="link">@dorisklien</p>
      <p class="points">8023</p>
    </div>
    <div class="person first">
      <div class="num">1</div>
      <i class="fas fa-crown"></i>
      <img src="https://image.flaticon.com/icons/png/512/4086/4086600.png" alt="" class="photo main">
      <p class="link">@sher234</p>
      <p class="points">8122</p>
    </div>
    <div class="person third">
      <div class="num">3</div>
      <i class="fas fa-caret-up"></i>
      <img src="https://image.flaticon.com/icons/png/512/4333/4333609.png" alt="" class="photo">
      <p class="link">@lord_0980</p>
      <p class="points">7884</p>
    </div>
  </div>
  <div class="rest">
    <div class="others flex">
      <div class="rank">
        <i class="fas fa-caret-up"></i>
        <p class="num">4</p>
      </div>
      <div class="info flex">
        <img src="https://image.flaticon.com/icons/png/512/2922/2922510.png" alt="" class="p_img">
        <p class="link">@adam56</p>
        <p class="points">7861</p>
      </div>
    </div>
  </div>
</div>
</div>


<div class="col-md-4">
<div class="card one">
  <div class="header">
    <i class="arrow fas fa-chevron-left"></i>
    <h3 class="title">Volunteers</h3>
    <div></div>
  </div>
  <!-- <div class="sort">
    <div class="day">Today</div>
    <div class="day active">Week</div>
    <div class="day">Month</div>
  </div> -->
          <!--<div class="profile">
    <div class="person second">
      <div class="num">2</div>
      <i class="fas fa-caret-up"></i>
      <img src="https://image.flaticon.com/icons/png/512/949/949666.png" alt="" class="photo">
      <p class="link">@dorisklien</p>
      <p class="points">8023</p>
    </div>
    <div class="person first">
      <div class="num">1</div>
      <i class="fas fa-crown"></i>
      <img src="https://image.flaticon.com/icons/png/512/4086/4086600.png" alt="" class="photo main">
      <p class="link">@sher234</p>
      <p class="points">8122</p>
    </div>
    <div class="person third">
      <div class="num">3</div>
      <i class="fas fa-caret-up"></i>
      <img src="https://image.flaticon.com/icons/png/512/4333/4333609.png" alt="" class="photo">
      <p class="link">@lord_0980</p>
      <p class="points">7884</p>
    </div>
  </div>
  <div class="rest">
    <div class="others flex">
      <div class="rank">
        <i class="fas fa-caret-up"></i>
        <p class="num">4</p>
      </div>
      <div class="info flex">
        <img src="https://image.flaticon.com/icons/png/512/2922/2922510.png" alt="" class="p_img">
        <p class="link">@adam56</p>
        <p class="points">7861</p>
      </div>
    </div>
  </div>
</div>
</div>

</div>  -->
        </div>
      </section>

      <!-- ======= Contact Us Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2></h2>
            <p>Contact Us</p>
          </div>

          <div class="row">
            <!-- <div
              class="col-lg-5 d-flex align-items-stretch"
              data-aos="fade-up"
              data-aos-delay="100"
            > -->
            <!-- <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Location:</h4>
                  <p>A108 Adam Street, New York, NY 535022</p>
                </div>

                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>info@example.com</p>
                </div>

                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Call:</h4>
                  <p>+1 5589 55488 55s</p>
                </div>
              <!-- </div> -->
            <!-- </div> -->

            <div
              class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <form
                action="/contactus"
                method="post"
                class="node-email-form"
              >
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name">Your Name</label>
                    <input
                      type="text"
                      name="cname"
                      class="form-control"
                      id="cname"
                      placeholder="Your Name"
                      required
                    />
                  </div>
                  <div class="form-group col-md-6 mt-3 mt-md-0">
                    <label for="name">Your Email</label>
                    <input
                      type="email"
                      class="form-control"
                      name="cemail"
                      id="cemail"
                      placeholder="Your Email"
                      required
                    />
                  </div>
                </div>
                <div class="form-group mt-3">
                  <label for="name">Subject</label>
                  <input
                    type="text"
                    class="form-control"
                    name="csubject"
                    id="csubject"
                    placeholder="Subject"
                    required
                  />
                </div>
                <div class="form-group mt-3">
                  <label for="name">Message</label>
                  <textarea
                    class="form-control"
                    name="cmessage"
                    rows="10"
                    required
                  ></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">
                    Your message has been sent. Thank you!
                  </div>
                </div>
                <div class="text-center">
                  <input type="submit" name="submit" value="Send Message">
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Us Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 footer-contact">
              <h3>Diversion</h3>
              <p>
                <!-- A108 Adam Street <br />
                New York, NY 535022<br />
                United States <br /><br /> -->
                <br />
                <br />
                <!-- <strong>Phone:</strong> +1 5589 55488 55<br /> -->
                <strong>Email : </strong><a href="mailto:acm@iemcal.com">acm@iemcal.com</a><br />
              </p>
            </div>

            <div class="col-lg-4 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Home</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#tracks">Tracks</a>
                </li>
                <!-- <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">tracks</a>
                </li> -->
                <!-- <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Terms of service</a>
                </li> -->
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="/guidelines">Guidelines</a>
                </li>
              </ul>
            </div>

            <!-- <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our tracks</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Web Design</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Web Development</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Product Management</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Marketing</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Graphic Design</a>
                </li>
              </ul>
            </div> -->

            <div class="col-lg-4 col-md-6 footer-links">
              <h4>Our Social Networks</h4>
              <p>
                Reach to our socials to know more about us
              </p>
              <div class="social-links mt-3">
                <a href="https://twitter.com/AcmIem" class="twitter" target="_blank"><i class="bx bxl-twitter"></i></a>
                <!-- <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a> -->
                <!-- <a href="#" class="instagram" -->
                <!-- ><i class="bx bxl-instagram"></i -->
                <!-- ></a> -->
                <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
                <a href="https://www.linkedin.com/company/acm-iem/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
                <!-- <a href="#" class="Github"><i class="bx bxl-github"></i></a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/aos/aos.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="script.js"></script>
  </body>
</html>
