<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Diversion - Leaderboard</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
      rel="stylesheet"
    />
    <link
      href="https://getbootstrap.com/docs/4.3/getting-started/introduction/"
      rel="stylesheet"
    />
    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />

    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon" />

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <br /><br /><br /><br /><br /><br /><br />
    <div class="jumbotron text-center">
      <h1 class="display-3">LeaderBoard</h1>
      <>
      <p class="lead"><strong>coming soon!</strong></p>

      <hr />
      <p>Having trouble? <a href="/#contact">Contact us</a></p>
      <p class="lead">
        <a class="btn btn-warning btn-sm" href="/" role="button"
          >Back to homepage</a
        >
      </p>
    </div>
  </body>
</html>
